.wrapper {
  background-color: #ffffff;

  display: flex;

  .sidebar {
    width: 100px;
    background-color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-between;
    overflow: hidden;

    &-items {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
    }

    .icons {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      .link {
        color: var(--content-gray);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
          margin: 0;
          font-size: 11px;
        }

        &:hover,
        &.active {
          color: var(--content-primary);
        }
      }
    }

    .logout {
      font-size: 50px;
      color: var(--content-gray);
      cursor: pointer;

      &:hover {
        color: var(--content-primary);
      }
    }
  }

  .content {
    background-color: #efefef;
    flex: 1;
    padding: 20px 50px;
    overflow: auto;
  }

  .logo {
    width: 50px;
  }
}
