/* stylelint-disable */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@font-face {
  font-weight: 400;
  font-family: Work-sans;
  font-style: normal;
  src: url('../fonts/work-sans/WOFF2/WorkSans-Regular.woff2') format('woff2'), url('../fonts/work-sans/WOFF/WorkSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Work-sans;
  font-style: normal;
  src: url('../fonts/work-sans/WOFF2/WorkSans-Medium.woff2') format('woff2'), url('../fonts/work-sans/WOFF/WorkSans-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: Gordita;
  font-style: normal;
  src: url('../fonts/gordita/Gordita-Regular.woff2') format('woff2'), url('../fonts/gordita/Gordita-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Gordita;
  font-style: normal;
  src: url('../fonts/gordita/Gordita-Medium.woff2') format('woff2'), url('../fonts/gordita/Gordita-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: 'Neue Machina';
  font-style: normal;
  src: url('../fonts/neue-machina/NeueMachina-Bold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: bold;
  font-family: 'Neue Machina';
  font-style: italic;
  src: url('../fonts/neue-machina/NeueMachina-Ultrabold.woff2') format('opentype');
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: 'Neue Machina';
  font-style: normal;
  src: url('../fonts/neue-machina/NeueMachina-Light.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-family: 'Neue Machina';
  font-style: normal;
  src: url('../fonts/neue-machina/NeueMachina-Regular.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-weight: 500;
  font-family: 'Neue Machina';
  font-style: normal;
  src: url('../fonts/neue-machina/NeueMachina-Medium.woff2') format('woff2');
  font-display: swap;
}
